# Ignore model folders
/models/
/piper_models/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# macOS files
.DS_Store
._*

# IDE-specific files
.vscode/
.idea/

# Local development files
.env
*.env